.is-hero-text {
  display: block;
  font-family: Lato;
  font-size: 8em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  @media screen and (max-width: 900px) {
    font-size:5em
  }
}
.is-hero-sub-text {
  display: block;
  font-family: Lato;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  @media screen and (max-width: 900px) {
    font-size:2.5em
  }
}

.logo{
  height: 40px;
}

.nav-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}