.stats-user-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.large-number {
  font-size: 1.2 * 1em;
  font-weight: bolder;
}

.interactions {
  display: flex;
  flex-direction: column;
}

.interactions-row {
  display: flex;
  flex-direction: row;
  max-height: 75px;
  margin: 10px 0px;
}
.interactions-row:first-child {
  margin: 0px;
}

.interactions-column {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.interactions-link {
  max-height: 75px;
  display: flex;
  align-items: center;
}

.top-rants-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.top-rants-title {
  flex-grow: 1;
}

.top-rants-rating {
  min-width: 100px;
  margin-left: 20px;
}

.social {
  max-height: 75px;
  height: 75px;
  width: 75px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .interactions-row {
    max-height: 100px;
  }
  .interactions-link {
    flex-direction: column;
    max-height: 100px;
  }
  .interactions-link > h3 {
    display: none;
  }
  .interactions-column {
    justify-content: center;
  }

  .top-rants-row {
    flex-direction: column;
    border-bottom: black solid 2px;
    text-align: center;
  }
  .top-rants-rating {
    margin-left: 0px;
  }
}
